<!-- <!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>
      <main class="container-everything">
        <div class="escritorio">
          <div class="container-imagen">
            <img src="/img/productos/<%= product.image %> " alt="">
            <strong class="agregar">
              <%= product.discount %>%OFF
            </strong>
          </div>
          <div class="creation_product">
            <div class="container-product">
              <h1>
                <%= product.name %>
              </h1>
              <div class="container-precio">
                <span class="precio">$<%= product.price %> </span>
                <span class="precio_descuento"> $ 7000 </span>
              </div>
              <div class="cantidad">
                <button type="button" class="boton_cantidad">-</button>
                <span id="">1</span>
                <button type="button" class="boton_cantidad">+</button>
                <button class="agregar"><i class="fa-solid fa-cart-plus"></i> AGREGAR</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="container-descripcion">
          <h2>DESCRIPCIÓN</h2>
          <p>
            <%= product.description %>
          </p>
          SKU: <%= product.codigo %>
        </div>
        <div class="envio">
          <p>ENVIO GRATIS CABA y zonas de GBA</p>
          <p>Retira sin cargo por tu sucursal preferida</p>
          <p><a href="">Ver sucursales</a></p>
        </div>
      </main>

      <%- include("../partials/footer") %>

        <%- include("../partials/script") %>
  </body>

</html> -->

<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

      <main class="productDetail-container">
        <section class="productDetail">
          <div class="images-container">
            <div class="mainImage">
              <img src="/img/productos/<%= product.image %>" alt="">
            </div>
          </div>
          <div class="productData-container">
            <h3 class="productName">
              <%= product.name %>
            </h3>
            <div class="productPrice">$<%= product.price - product.price * product.discount / 100 %>
            </div>
            <div class="productNumber">
              <label for="cantidad">Cantidad</label>
              <div class="counter">
                <button type="button" class="btn-subtract" onclick="subtract();">
                  -
                </button>

                <div id="count">1</div>

                <button type="button" id="btn-add" onclick="add();">
                  +
                </button>
              </div>

            </div>

            <div class="button-addToCart">
              <div class="btn-primary">
                <button type="button">
                  <a href="/productCart">Añadir al Carrito</a>
                </button>
              </div>
            </div>

          </div>
        </section>
        <section class="productDescription">
          <div class="description">
            <h5>Descripción del producto</h5>
            <p>
              <%= product.description %>
            </p>
          </div>
        </section>


      </main>

      <%- include('../partials/footer') %>

        <%- include('../partials/script') %>
  </body>

</html>