<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

      <main class="productDetail-container">
        <section class="productDetail">
          <div class="images-container">
            <div class="mainImage">
              <img src="/img/productos/<%- product.image %>" alt="">
            </div>
          </div>
          <div class="productData-container">
            <h3 class="productName">
              <%= product.name %>
            </h3>
            <div class="productPrice">$<%= product.price - product.price * product.discount / 100 %>
            </div>
            <div class="productNumber">
              <label for="cantidad">Cantidad</label>
              <div class="counter" >
                <button type="button" class="btn-subtract" onclick="subtract();" style="width: 2rem; height:2rem; border-radius: 10px;">
                  -
                </button>

                <div id="count" style="font-size: 1.5rem;">1</div>

                <button type="button" id="btn-add" onclick="add();" style="width: 2rem; height:2rem; border-radius: 10px;">
                  +
                </button>
              </div>

            </div>

            <div class="añadir-carrito">
              <a href="/carrito" class="addCart">Agregar al carrito</a>
</div>
              </div>
          </div>

          </div>
        </section>
        <section class="productDescription">
          <div class="description">
            <h5>Descripción del producto</h5>
            <p>
              <%= product.description %>
            </p>
          </div>
        </section>


      </main>

      <%- include('../partials/footer') %>

        <%- include('../partials/script') %>
  </body>

</html>