<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %> 

<body>
  <%- include('../partials/header') %>  

    <section class="category">

        <form action="/admin/categorias" method="post" id="formCategory">

            <div class="input-box">
                <label for="category"><h4>Agregar nueva categoria</h4></label>
                <input type="text" name="name" class="input-category" placeholder="Nombre de la categoria" id="category">
                <% if (locals.errors && errors.name) { %>
                    <span class="error-msg" ><%= errors.name.msg  %></span>
                <% } %>
                <span id="categoryError"></span>
            </div>
            <div class="btn-box">
                <button class="add_category" type="submit">Crear</button>
                <span id="submitErrorcategory"></span>
            </div> 

        </form>

    </section>
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>
    
    <script src="../../../../js/addCategoryValidator.js"></script>
</body>
</html>