<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headb') %> 
</head>
<body>
    <%- include('../partials/header') %> 

    <section class="category">

        <form action="/admin/categorias/<%= categoria.id %>?_method=PUT" method="POST">

            <div class="input-box">
                <label for="category"><h4>Editar categoria</h4></label>
                <input type="text" name="name" class="input-category" id="category" placeholder="Nombre de la categoria"  value="<%= categoria.name %>">
            </div>
            <div class="btn-box">
                <button class="add_category" type="submit">Editar</button>
            </div> 

        </form>

    </section>



    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>