<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

    <body>

        <%- include("./partials/header") %>

            <main>

                <!-- <div class="carrusel">
                    <img src="/img/carrusel/1.jpg" alt="carrusel">
                </div>
 -->

                <!-- Carousel -->
                <div class="slider-frame">
                    <ul>
                        <li><img src="/img/carrusel/Ofertas.jpg" alt=""></li>
                        <li><img src="/img/carrusel/Catdog pet-shop.jpg" alt=""></li>
                        <li><img src="/img/carrusel/pedidosYa.jpg" alt=""></li>
                        <li><img src="/img/carrusel/tiendaOnline.jpg" alt=""></li>
                    </ul>
                </div>

                <!-- finCarousel -->

                <h2> Ofertas del mes</h2>

                <section class="contenedor">
                    <% products.forEach( product=> { %>
                        <div class="producto">
                            <a href="/productos/detalle/<%- product.id %>">
                                <article>
                                    <div class="imagen">
                                        <img src="../img/productos/<%= product.image  %>" alt="">
                                    </div>
                                    <div class="texto">
                                        <strong>
                                            <%= product.marca %>
                                        </strong>
                                        <strong>
                                            <%= product.name %>
                                        </strong>
                                        <% if (product.discount> 0) { %>
                                            <strong>
                                                $ <%= product.price - product.discount * product.price / 100 %>
                                            </strong>
                                            <p class="oferta">
                                                <%= product.discount + '% 0FF' %>
                                            </p>
                                            <% } else { %>
                                                $ <%= product.price %>
                                                    <% } %>
                                                        <div>
                                </article>
                            </a>
                            <button class="agregar">Añadir al carrito <i class="fa-solid fa-cart-plus"></i></button>
                        </div>
                        <% }) %>
                </section>


                <h2>Seleccionar por Marca</h2>
                <section class="contenedor">

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-whiskas.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-vitalcan.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-royalcanin.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-proplan.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-pedigree.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-nutrique.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-infinity.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-eukanuba.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-dogchow.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-catchow.png" alt="">
                        </div>
                    </article>
                </section>
            </main>

            <%- include("./partials/footer") %>

                <%- include("./partials/script") %>
    </body>

</html>