<!DOCTYPE html>
<html lang="en">
<%- include('./partials/headb') %> 
<body>
  <%- include('./partials/header') %> 
  
  <main>
    <section class="section-main">   
        <h2>Mostrando resultado de: <%= keyword %></h2>
        <section class="section-ofertas">
            <div class="product-final">
                <% if(searchResult.length > 0){ %>

                    <% searchResult.forEach(product => { %>
                        
                        <article class="article-final">
                            <a href="/productos/detail/<%- product.id %>">
                              <div class="cont-imagen">
                                  <img src="images/<%- product.image %>" alt="ARNES">
                              </div>
                              <div class="detail-product">
                                  <h3><%- product.name %></h3>
                                  <p class="price-product">$<%- product.price %></p>
                                  <% if (product.discount > 0) { %>
                                    <p> Ahora a <span> $<%= product.price - product.discount * product.price / 100 %></span></p>
                                  <% } else { %>
                                    Producto 100% Argentino 
                                  <% } %>
                              </div>
                              <div class="boton-press">
                                  <div class="boton-one">
                                      <button type="submit"><i class="fas fa-truck"></i>
                                          Agregar al carrito
                                      </button>
                                  </div>
                              </div>
                          </a>
                        </article>
                        <% }) %>

                

                <% } else { %> 
			
                    <div>
                        <h2>No hay productos que coincidan con esa búsqueda</h2>
                    </div>
        
                <% } %>
            </div>
        </section>
    </section>
    
    </main>

      <%- include('./partials/footer') %> 
      
      <%- include('./partials/scripts') %> 

</body>
</html>