<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>

<%- include("../partials/header") %>
        
<main class="registro">
    <div class="container">
        <div class="formulario_logo">
            <img src="/img/logo.png">
        </div>
        <form action="/usuarios/register" method="post" id="form" enctype="multipart/form-data">
            <h2>Registro</h2>
            <div class="input-container">
                <label for="name">Nombre</label>
                <input type="text"  name="name" placeholder="ingrese su nombre" id="name">
                <% if (locals.errors && errors.name) { %>
                    <small class="text-danger"><%= errors.name.msg %></small>
                <% } %>
                <span id="errorBackName"></span>
            </div>
            <div class="input-container">
                <label for="surname">Apellido</label>
                <input type="text" name="userName" placeholder="ingrese su apellido" id="userName">
                <% if (locals.errors && errors.userName) { %>
                    <small class="text-danger"><%= errors.userName.msg %></small>
                <% } %>
                <span id="userNameError"></span>
            </div>
            <div class="input-container">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="ingrese su mail" id="email">
                <% if (locals.errors && errors.email) { %>
                    <small class="text-danger"><%= errors.email.msg %></small>
                <% } %>
                <span id="errorBackEmail"></span>
            </div>
            <div class="input-container">
                <label for="password">Contraseña</label>
                <input type="password" name="password" placeholder="ingrese una contraseña" id="password">
                <% if (locals.errors && errors.password) { %>
                    <small class="text-danger"><%= errors.password.msg %></small>
                <% } %>
                <span id="errorBackPassword"></span>
            </div>
            <div class="input-container">
                <label for="password2">Repita su contraseña</label>
                <input type="password" name="password2" placeholder="Reingrese su contraseña" id="password2">
                <% if (locals.errors && errors.password2) { %>
                    <small class="text-danger"><%= errors.password2.msg %></small>
                <% } %>
                <span id="errorBackPassword2"></span>
            </div>
            <div class="input-container">
                <label for="avatar">Avatar</label>
                <input type="file" name="avatar" placeholder="seleccione su avatar" id="avatar">
                <span id="avatarError"></span>
            </div>
            <div class="input-check-container">
                <label for="recordar">Acepto los <a href=" ">términos y condiciones</a></label>
                <input type="checkbox" name="terms" id="terms">
                <span id="errorBackTerms"></span>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn-register">Registrarme</button>
            </div>
            <span><a href="/usuarios/login">Ya tengo cuenta</a></span>

        </form>
    </div>
</main> 

<%- include("../partials/footer") %>

<%- include("../partials/script") %>
<script src="../../../js/registroValidatorFront.js"></script>

</body>

</html>
