<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

  <body>

    <%- include("../partials/header") %>

      <main class="userProfile">

        <div class="container-profile">
          <div class="avatar">
            <img src="/img/avatar/<%= user.avatar %>" alt="">
          </div>
          <h3>Datos Personales</h3>
          <div class="row">
            <div class="datos1">
              <p> <strong>Nombre:</strong>
                <%= user.name %>
              </p>
              <p> <strong>Apellido:</strong>
                <%= user.userName %>
              </p>
              <p> <strong>Email:</strong>
                <%= user.email %>
              </p>
              <p> <strong>Teléfono:</strong>
                <%= user.phone ? user.phone : "------" %>
              </p>
            </div>
            <% if (user.addresses.length> 0) { %>
              <div class="datos2">
                <h4>Mis direcciones</h4>
                <div class="table-direcciones">
                  <strong class="id">#</strong>
                  <strong class="dir">Calle</strong>
                  <strong class="dir">Número</strong>
                  <strong class="dir">Provincia</strong>
                  <strong class="dir">Ciudad</strong>
                </div>
                <% user.addresses.forEach(address=> { %>
                  <div class="mis-direcciones">
                    <strong class="id">
                      <%- address.id %>
                    </strong>
                    <strong class="dir">
                      <%- address.street %>
                    </strong>
                    <strong class="dir">
                      <%- address.number %>
                    </strong>
                    <strong class="dir">
                      <%- address.province %>
                    </strong>
                    <strong class="dir">
                      <%- address.city %>
                    </strong>
                    <form action="/usuarios/direcciones/<%- address.id %>?_method=DELETE" method="POST">
                      <button class="btn-eliminar" type="submit">
                        eliminar
                      </button>
                    </form>
                  </div>
                  <% }) %>
              </div>
              <% } %>
          </div>
          <h3 class="h3-editar">Editar mi perfil</h3>
          <hr>
          <div class="row2">
            <form class="formProfile" action="/usuarios/perfil?_method=PUT" method="post" id="formProfile" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="name" placeholder="Ingrese su nombre" id="name" value="<%= user.name %>"
                  value="<%= locals.old && old.name %>"/>
                <% if (locals.errors && errors.name) { %>
                  <small class="error-message">
                    <%= errors.name.msg %>
                  </small>
                  <% } %>
                    <span class="error-message" id="nameError"></span>
              </div>
              <div class="mb-3">
                <label for="userName" class="form-label">Apellido</label>
                <input type="text" class="form-control" name="userName" placeholder="Ingrese su apellido" id="userName" value="<%= user.userName %>"
                  value="<%= locals.old && old.userName %>" />
                <% if (locals.errors && errors.userName) { %>
                  <small class="error-message">
                    <%= errors.name.msg %>
                  </small>
                  <% } %>
                    <span class="error-message" id="userNameError"></span>
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Teléfono</label>
                <input type="text" class="form-control" name="phone" placeholder="Ingrese su telefono" id="phone" 
                  value="<%= locals.old && old.phone %>" />
                <% if (locals.errors && errors.phone) { %>
                  <small class="error-message">
                    <%= errors.phone.msg %>
                  </small>
                  <% } %>
                    <span class="error-message" id="phoneError"></span>
              </div>
              <div class="mb-3">
                <label for="avatar" class="form-label">Editar </label>
                <input class="form-control" type="file" name="avatar" id="image">
                <span class="error-message" id="imageError"></span>
              </div>
              <div class="btn-editar">
                <button class="btn-outline-success" type="submit">
                  Editar datos
                </button>
              </div>
              <span class="error-message" id="submitProfileError"></span>
            </form>

            <form action="/usuarios/direcciones" class="formDirection" method="post" id="formDirection">
              <div class="mb-3">
                <label for="street" class="form-label">Calle</label>
                <input type="text" class="form-control" name="street" placeholder="Ingrese la calle" id="street"
                  value="<%= locals.old && old.street %>" />
                <% if (locals.errors && errors.street) { %>
                  <small class="text-danger">
                    <%= errors.street.msg %>
                  </small>
                  <% } %>
                    <span id="streetError"></span>
              </div>
              <div class="mb-3">
                <label for="number" class="form-label">Número</label>
                <input type="text" class="form-control" name="number" placeholder="Ingrese el número" id="number"
                  value="<%= locals.old && old.number %>" />
                <% if (locals.errors && errors.number) { %>
                  <small class="text-danger">
                    <%= errors.number.msg %>
                  </small>
                  <% } %>
                    <span id="numberError"></span>
              </div>
              <div class="mb-3">
                <label for="province" class="form-label">Provincia</label>
                <select class="form-select" name="province" id="province">
                  <option value="" hidden selected>Provincia</option>
                </select>
                <% if (locals.errors && errors.province) { %>
                  <small class="text-danger">
                    <%= errors.province.msg %>
                  </small>
                  <% } %>
                    <span id="provinceError"></span>
              </div>
              <div class="mb-3">
                <label for="city" class="form-label">Ciudad</label>
                <select class="form-select" name="city" id="city">
                  <option value="" hidden selected>Ciudad</option>
                </select>
                <% if (locals.errors && errors.city) { %>
                  <small class="text-danger">
                    <%= errors.city.msg %>
                  </small>
                  <% } %>
                    <span id="cityError"></span>
              </div>
              <div class="btn-editar">
                <button class="btn-outline-success" type="submit">
                  Agregar
                </button>
                <span id="formDirectionError"></span>
              </div>
            </form>
          </div>
        </div>
      </main>
      <%- include('../partials/footer')%>
        <%- include("../partials/script") %>
          <script src="/js/profileValidator.js"></script>
          <script src="/js/directionValidator.js"></script>
  </body>

</html>